doctype html
html
  head
    title Contacts
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    style.
      .error-box {
        background-color: #f8d7da; 
        color: #721c24; 
        padding: 10px; 
        border-radius: 5px; 
      }
      
  body
    div.form-container.mt-5.mb-5.d-flex.flex-column.align-items-center.justify-content-center
      h1 Sign up
      .row.justify-content-center
        .col-sm-8
          p.text-center.mb-4.mx-3(style='min-height: 3.5rem;') Please select a username and a password. Don't worry about any password rules here, we don't really care much about protecting your information - so <code>helloworld</code> is just fine by us!
      form(action='/signup', method='post')
        .form-floating.mb-3
          input#first_name.form-control(type='text', name='first_name', placeholder='First Name', required)
          label(for='first') First Name

        .form-floating.mb-3
          input#last_name.form-control(type='text', name='last_name', placeholder='Last Name', required)
          label(for='last') Last Name

        hr

        .form-floating.mb-3
          input#username.form-control(type='text', name='username', placeholder='Username', required)
          label(for='username') Username

        .form-floating.mb-3
          input#password.form-control(type='password', name='password', placeholder='Password', required)
          label(for='password') Password

        .form-floating.mb-3
          input#password2.form-control(type='password', name='password2', placeholder='Confirm Password', required)
          label(for='password2') Confirm Password

        hr

        .row.justify-content-center
          .col-auto
            button.btn.btn-success.btn-lg.mb-3(type='submit') Sign up
          .col-auto
            button.btn.btn-secondary.btn-lg(type='button', onclick="window.location.href='/'") Nevermind

        section
          p.mb-0 Already have an account?
            button.btn.btn-link(type='button', onclick="window.location.href='/login'") Sign in here!

        if error
          p.error-box.mb-3= error
